/* Stylesheet by Rosemary P. Wardley, 2017 */

h1 {
font-family: 'Montserrat', sans-serif;
margin: 0;
}

h2, h3, h4, h5, h6, p {
    font-family: 'Rubik', sans-serif;
    font-weight: inherit;
}

p {
    font: 13px/1.5 "Rubik", sans-serif;
	}

html,body,#map {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    font-family: 'Rubik', sans-serif;
    /*display: inline-block;
    position: relative;
    z-index: 9;*/
}

/*#panel {*/
/*    width: 100%;*/
/*    padding: 20px;*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*}*/

#title {
    position: absolute;
/*    color: #272727;*/
    color: #383737;
    font-size: 25px;
    text-shadow: -1px 0 #fff8ef, 0 1px #fff8ef, 1px 0 #fff8ef, 0 -1px #fff8ef;
    z-index: 10000;
    margin: 0;
    left:10px;
    top: 0px;
    width: 20%;
    /*background-color: rgba(107,196,157,0.6);*/
    text-align: left;
    padding-bottom: 0px;
}

#homeButton {
    position:absolute;
    z-index: 1005; 
    right: 13px;
    bottom: 95px;
    color: rgba(245,102,106,1);
}

#homeButton:hover {
    color: white;
/*    opacity: 0.7;*/
    cursor: pointer;
}

.show:hover {
    color: white;
/*    opacity: 0.7;*/
    cursor: pointer;
}

/*#splash {*/
/*    z-index: 1001;*/
/*    position: absolute;*/
/*    top: 25%;*/
/*    left: 20%;*/
/*    widows: auto;*/
/*    padding: 10px;*/
/*    height: auto;*/
/*    width: 700px;*/
/*    background-color: #fff;*/
/*	border-bottom: 1px solid #ccc;*/
/*    border: 2px solid rgba(245,102,106,0.8);*/
/*    border-radius: 4px;*/
/*    opacity: 0.9;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*}*/

#splash {
    z-index: 1005;
    position: absolute;
    height: 300px;
    width: 700px;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #fff;
	border-bottom: 1px solid #ccc;
    border: 2px solid rgba(245,102,106,0.8);
    border-radius: 4px;
    opacity: 0.9;
    text-align: center;
    vertical-align: middle;
}

.show {
    z-index: 10001;
/*    position: fixed;*/
/*    top: 240px;*/
/*    left: 5px;*/
/*    padding: 10px;*/
    height: 10px;
    width: 100px;
    color: rgba(245,102,106,1);
    text-align: left;
    vertical-align: middle;
}

.my-text {
    font-size: 20px;
    vertical-align: bottom;
    font-weight: bolder;
}

#legend input,
#legend p {
    display: inline-block;
}

#legend {
    position:fixed;
    z-index: 1004;
    right:5px;
    top:30px;
    background-color: #fff;
	border-bottom: 1px solid #ccc;
    border: 2px solid rgba(245,102,106,0.8);
    border-radius: 4px;
    opacity: 0.9;
    width:auto;
    height:auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 5px;
}

#slider {
    position:fixed;
    z-index: 1001;
    right:5px;
    top:90px;
    background-color: #fff;
	border-bottom: 1px solid #ccc;
    border: 2px solid rgba(245,102,106,0.8);
    border-radius: 4px;
    opacity: 0.9;
    padding: 0 8px;
	width: 155px;
	height: auto;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
}

#slider p {
    margin-bottom: 0;
}

#locator {
    position:fixed;
    z-index: 1005; 
    left:5px;
    bottom: 25px;
    background-color: rgba(245,102,106,0.6);
    width:auto;
    height:auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 5px;
}

/* RESPONSIVE STUFF */

@media (max-width: 1260px) {
  h1{
    font-size:50px;
  }
}

@media (max-width: 1198px) {
  h1{
    font-size:45px;
  }
}

@media (max-width: 1135px) {
  h1{
    font-size:40px;
  }
}

@media (max-width: 1072px) {
  h1{
    font-size:35px;
  }
}

@media (max-width: 1009px) {
  h1{
    font-size:30px;
  }

@media (max-width: 946px) {
  h1{
    font-size:24px;
  }
}

@media (max-width: 880px) {
  h1{
    font-size:22px;
  }
  #homeButton{
    bottom: 90px;      
    }
}

@media (max-width: 821px) {
  h1{
    font-size:20px;
  }
}

@media (max-width: 758px) {
  #title{
    padding-bottom:10px;
  }
    
  #splash{
      top:50px;
      width: 80%;
      height: 80%;
      padding-bottom:5%;
    }
  #slider{
    top: 55px;
    }
  #legend{
    top: 0;     
    }
  .show{
    font-size: 15px; 
    }
  .my-text{
   font-size: 15px;     
    }
  h1 {
    margin-bottom: 0;
    font-size:18px;
  }
}

@media (max-width: 706px) {
  #title{
    padding-bottom:10px;
  }
  #homeButton{
    bottom: 105px;      
    }
  h1 {
    margin-bottom: 0;
    font-size:16px;
  }
}